<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{appTitle}} - {{title}}</title>
    <link rel="stylesheet" href="assets/stylesheets/main.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <div class="description">
            <p>Est amet dolore enim velit do cupidatat esse nulla qui. Aliqua elit Lorem cupidatat aute cupidatat et.
                Proident laborum nulla nostrud sit. Laborum pariatur do elit ad id tempor aliquip et quis ullamco
                ullamco. Ex ex consequat ipsum et nulla ad pariatur et. Tempor labore irure cupidatat et consectetur
                voluptate commodo magna enim labore reprehenderit dolor.</p>
        </div>
    </div>
    {{>footer}}
</body>

</html>